schema.xsd

<xs:schema attributeFormDefault="unqualified"
           elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:group name="any-view">
        <xs:choice>
            <xs:element ref="Button"/>
            <xs:element ref="ButtonGroup"/>
            <xs:element ref="CheckBox"/>
            <xs:element ref="Container"/>
            <xs:element ref="Dialog"/>
            <xs:element ref="HorizontalGroup"/>
            <xs:element ref="Image"/>
            <xs:element ref="ImageButton"/>
            <xs:element ref="Label"/>
            <xs:element ref="ProgressBar"/>
            <xs:element ref="ScrollPane"/>
            <xs:element ref="SelectBox"/>
            <xs:element ref="SliderActor"/>
            <xs:element ref="SplitPane"/>
            <xs:element ref="Stack"/>
            <xs:element ref="Table"/>
            <xs:element ref="TextArea"/>
            <xs:element ref="TextButton"/>
            <xs:element ref="TextField"/>
            <xs:element ref="Touchpad"/>
            <xs:element ref="Tree"/>
            <xs:element ref="VerticalGroup"/>
            <xs:element ref="Widget"/>
            <xs:element ref="WidgetGroup"/>
            <xs:element ref="Window"/>
            <xs:any/>
        </xs:choice>
    </xs:group>

    <xs:element name="Button"/>
    <xs:element name="ButtonGroup"/>
    <xs:element name="CheckBox"/>
    <xs:element name="Container"/>
    <xs:element name="Dialog"/>
    <xs:element name="HorizontalGroup"/>
    <xs:element name="Image"/>
    <xs:element name="ImageButton"/>
    <xs:element name="Label"/>
    <xs:element name="ProgressBar"/>
    <xs:element name="ScrollPane"/>
    <xs:element name="SelectBox"/>
    <xs:element name="SliderActor"/>
    <xs:element name="SplitPane"/>
    <xs:element name="Stack"/>
    <xs:element name="Table"/>
    <xs:element name="TextArea"/>
    <xs:element name="TextButton"/>
    <xs:element name="TextField"/>
    <xs:element name="Touchpad"/>
    <xs:element name="Tree"/>
    <xs:element name="VerticalGroup"/>
    <xs:element name="Widget" type="Widget"/>
    <xs:element name="WidgetGroup" type="WidgetGroup"/>
    <xs:element name="Window"/>

    <xs:complexType name="WidgetGroup">
        <xs:complexContent mixed="false">
            <xs:extension base="Widget">
                <xs:group minOccurs="0" maxOccurs="unbounded" ref="any-view"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Widget">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:float" name="rotate"/>
                <xs:attribute type="xs:float" name="scaleX"/>
                <xs:attribute type="xs:float" name="scaleY"/>
                <xs:attribute type="xs:string" name="color"/>
                <xs:attribute type="xs:boolean" name="debug"/>
                <xs:attribute type="xs:string" name="name" use="required"/>
                <xs:attribute type="xs:float" name="height" use="required"/>
                <xs:attribute type="xs:float" name="width" use="required"/>
                <xs:attribute type="xs:float" name="originX"/>
                <xs:attribute type="xs:float" name="originY"/>
                <xs:attribute type="AlignEnum" name="originAlign"/>
                <xs:attribute type="xs:float" name="x"/>
                <xs:attribute type="xs:float" name="y"/>
                <xs:attribute type="xs:integer" name="z"/>
                <xs:attribute type="AlignEnum" name="align"/>
                <xs:attribute type="xs:boolean" name="pack"/>
                <xs:attribute type="xs:boolean" name="fillParent"/>
                <xs:attribute type="xs:boolean" name="visible"/>
                <xs:attribute type="TouchableEnum" name="touchable"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="TouchableEnum" final="restriction">
        <xs:restriction base="xs:string">
            <xs:enumeration value="enabled"/>
            <xs:enumeration value="disabled"/>
            <xs:enumeration value="childrenOnly"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AlignEnum" final="restriction">
        <xs:restriction base="xs:string">
            <xs:enumeration value="top"/>
            <xs:enumeration value="topLeft"/>
            <xs:enumeration value="topRight"/>
            <xs:enumeration value="left"/>
            <xs:enumeration value="center"/>
            <xs:enumeration value="right"/>
            <xs:enumeration value="bottom"/>
            <xs:enumeration value="bottomLeft"/>
            <xs:enumeration value="bottomRight"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
